.language-switch
    ul.language-switch_list
        li.language-switch_item.language-switch_item_active
            a.language-switch_item-link(href="#") en
        li.language-switch_item
            a.language-switch_item-link(href="#") ru
        li.language-switch_item
            a.language-switch_item-link(href="#") gr
