include ../elements/date/date.pug
include ../elements/tags/tags.pug

mixin teaser(info)
  article.post-teaser(id= info.id)
    header.entry-header
      +date(info.date)

      h2.post-title
        a(href="#" rel="bookmark")= info.title
    .post-thumbnail
      a(href="#")
        img(src= require('./images/post/teaser.jpg'))

    div.tags
    +tags(info.tags)

    .entry-content
      p= info.content
        a(href="#") Read more ->
