mixin date(date)
  .entry-meta
    a.entry-date-chip.calendar(href="#" rel="bookmark")
      time.entry-date.published( datetiem="" )= date
    a.entry-date-chip(href="#" rel="bookmark")
      time.updated( datetime="" )= date
