include ./../../../components/buttons/button.pug

.offers__card
    .offers__card-img
        img(src=require('./templates/offers/__card/img/' + offerCardPhotos[i] + '.png'), alt="")
    .offers__card-content
        .offers__card-content-wrapper
            .title
                h5.title-brush-script.title-xx-large-text-size.title-equator.offers__card-content-title= offerCardTitles[i]
            .offers__card-content-span Sandwich for a student
            .offers__card-content-price= offerCardPrices[i] + "$"
                span.offers__card-content-price-subtitle for a one portion
            .button
                +button('Make an order', 'button').button__order
