.offers {
  &__card {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-content {
      position: relative;
      padding: 0 35px;
      &-wrapper {
        position: relative;
        padding: 15px 30px 30px;
        background-color: $background4;
        border-bottom: 11px solid $background3;
        border-top: 11px solid $background3;
        transition: 0.3s all;
        bottom: 65px;
      }
      &-span {
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 27.53px;
        letter-spacing: 0.44px;
      }
      &-price {
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 0.89px;
        line-height: 27.53px;
        text-align: center;
        margin-top: 15px;
        &-subtitle {
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 300;
          line-height: 27.53px;
          letter-spacing: 0.89px;
          display: block;
          margin-top: 15px;
        }
      }
    }
    &-img {
      width: auto;
      height: auto;
      position: relative;
      line-height: 0;
      img {
        line-height: 0;
      }
      &:before {
        background-color: rgba(0, 0, 0, 0.1);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }
    }
    .button {
      margin-top: 30px;
    }
    &:hover {
      cursor: pointer;
      .offers {
        &__card {
          &-content {
            &-wrapper {
              background-color: $background3;
              transition: 0.3s all;
            }
            &-span,
            &-price {
              color: $color3;
              transition: 0.3s all;
            }
          }
        }
      }
    }
  }
}