.button {
  background: $backgroundButtonGradient;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 2px;
  &__order {
    padding: 20px 75px;
    background-color: $backgroundButton1;
    color: $color3;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 6.4px;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}
