.offer {
  &__card {
    width: auto;
    height: auto;
    display: inline-block;
    &__content {
      position: relative;
      padding: 0 35px;
      &__wrapper {
        position: relative;
        padding: 15px 30px 30px;
        background-color: $background4;
        border-bottom: 11px solid $background3;
        border-top: 11px solid $background3;
        bottom: 65px;
      }
    }
  }
}
