.social {
	display: flex;
	align-self: center;

	@include reset-ul;

	:nth-child(n+2) {
		margin-left: 10px;
	}

	&-link {
		width: 46px;
		height: 46px;
		border: 2px solid;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		@include reset-a;

		svg {
			fill: currentColor;
		}
	}
}
