header.header
    .container
        .header__wrapper
            .header__burger
                .header__burger-span
                .header__burger-span
                .header__burger-span
            .header__logo
                span Brie
                span Restaurant
            .header__nav
                ul.header__nav-list.grid.col__6
                    li.header__nav-item
                        a.header__nav-link home
                    li.header__nav-item
                        a.header__nav-link our story
                    li.header__nav-item
                        a.header__nav-link special offers
                        ul.header__nav-list
                            li.header__nav-item
                                a.header__nav-link special offers
                            li.header__nav-item
                                a.header__nav-link new special offer
                            li.header__nav-item
                                a.header__nav-link new special offer
                    li.header__nav-item
                        a.header__nav-link delicious
                    li.header__nav-item
                        a.header__nav-link reservation
                    li.header__nav-item
                        a.header__nav-link gallery
            .header__language
                ul.header__language-list
                    li.header__language-item en
                    li.header__language-item ru