header.header
    .container
        .header__wrapper
            .header__burger
                .header__burger-span
                .header__burger-span
                .header__burger-span
            .header__logo logo
            .header__nav
                ul.header__nav-list.grid.col__6
                    li.header__nav-item
                        a.header__nav-link(href="#") home
                    li.header__nav-item
                        a.header__nav-link(href="#") our story
                    li.header__nav-item
                        a.header__nav-link(href="#") special offers
                        ul.header__nav-list
                            li.header__nav-item
                                a.header__nav-link(href="#") special offers
                            li.header__nav-item
                                a.header__nav-link(href="#") new special offer
                            li.header__nav-item
                                a.header__nav-link(href="#") new special offer
                    li.header__nav-item
                        a.header__nav-link(href="#") delicious
                    li.header__nav-item
                        a.header__nav-link(href="#") reservation
                    li.header__nav-item
                        a.header__nav-link(href="#") gallery
    include ../language-switch/language-switch