- const menu = ['HOME', 'MENU', 'BLOG', 'RESERVATION', 'GALLERY', 'CONTACTS'];

header.header
    .container
        .row.flex-nowrap.align-items-center.justify-content-between
            .col-auto
                a.header-logo(href='#')
                    img(src=require('./maxresdefault.jpg') alt='logo')
            .col-auto
                nav.header-nav
                    ul.header-nav-list
                        each val, index in menu
                            li.header-nav-list-item
                                a(href='#')= val
                                if index === 1
                                    .header-nav-list-item-dropdown
                                        ul
                                            each val, index in ['Daily menu', 'Season menu', 'Diet menu']
                                                li
                                                    a(href='#')= val
                                                    if index === 1
                                                        .header-nav-list-item-dropdown
                                                            ul
                                                                each val in ['Summer menu', 'Children menu', 'Diet menu', 'Special offers']
                                                                    li
                                                                        a(href='#')= val


