.contacts_wrapper{
  position: relative;

  .contacts-2_socials{
    color: white;
    background-color: black;

    .contacts_wrapper-contacts{
      margin: 67px 0px 0px 52px;

      p{
        color: $areYouGreingMe;
      }
    }
  }

  &-contacts{
    display: flex;
    &-info{
      flex-grow: 0;
    }
    &-icons{
      flex-grow: 1;
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      .social{
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: block;
        padding: 0;
        margin: 0;
        li{
          padding: 0;
          margin: 10px;
          display: block;
          .social-link{
            color: #000;
          }
        }
      }
    }
  }
  &-map{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #e6e6e6;

    &_2{
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #e6e6e6;
    }
  }


}

