doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title WP theme
    body
        //include ../templates/header/header
        block content
        //include ../templates/footer/footer