footer.site-footer
  .footer-content
    .container
      .row
        .col-4 socials
        .col Hours
        .col Locations
        .col Have questions?
  .copyright
    span Made with love by
    a.north_unicorn(href="#").
      North Unicorn
