.site-footer {
  background-color: $dark;
  color: $white;
  padding-top: 80px;
  padding-bottom: 35px;

  @include reset-a;
  @include svg-text-color;

  ul {
    @include reset-ul;
  }

  &-container {
    display: grid;
    grid-template: auto 100px / repeat(4, 1fr);
    grid-auto-flow: column;
  }

  &-logo {
    align-self: center;

    img {
      max-height: 24px;
    }
  }

  &-info {
    &-title {
      display: flex;
      align-items: center;
      color: #DEDEDE;
      margin-top: 0;
      margin-bottom: 17px;
    }
  
    &-title-text {
      margin-left: 10px;
    }
  
    &-text {
      color: #919191;
      line-height: 1.5;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &-authors {
    text-align: center;
    color: #818181;
  }
}
