@import "variables";

* {
  box-sizing: border-box;
}

body {
  background-color: $background1;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.container {
  width: 1620px;
}

a {
  &:hover {
    text-decoration: none;
  }
}

h5 {
}

.h5-header {
  font-family: BrushScriptMT, sans-serif;
  font-size: 60px;
  color: $color2;
  text-align: center;
  line-height: 60px;
  margin: 25px 0;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
