@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.container {
  width: 1620px;
  margin: 0 auto;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.h3-header {
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: $color3;
  text-align: center;
  margin: 40px 0;
  line-height: 48px;
}

.h4-header {
  font-family: BrushScriptMT, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 74.02px;
  color: $color2;
  text-align: center;
  h4 {
    position: relative;
    display: inline-block;
    margin: 0;
    &:before,
    &:after {
      position: absolute;
      content: "";
      width: 26px;
      height: 2px;
      background-color: $background2;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before {
      left: -45px;
    }
    &:after {
      right: -45px;
    }
  }
}

.h5-header {
  font-family: BrushScriptMT, sans-serif;
  font-size: 60px;
  color: $color2;
  text-align: center;
  line-height: 60px;
  margin: 25px 0;
  font-weight: 400;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
