// colors & gradients
$background1: #000000
$background2: #e1b465
$background3: #c34527
$background4: #ffffff
$background5: #232323
$gradient1: linear-gradient(to top, #f5b34d 0%, #f8fbc0 56%, #eebb63 85%, #e0b366 100%)

// button  colors
$backgroundButtonGradient: linear-gradient(to top, #f5b34d 0%, #f8fbc0 56%, #eebb63 85%, #e0b366 100%)
$backgroundButton1: #000000
$backgroundButton2: #ffffff

// arrow  colors
$backgroundArrow1: #ffffff
$backgroundArrow2: #e1b465
$backgroundArrow3: #000000

// typo  colors
$color1: #000000
$color2: #e2b464
$color3: #ffffff
$color4: #a6a6a6
$color5: #b04b33


