// colors & gradients
$background1: #000000
$background2: #414141
$background3: #e9a92d
$background4: #ffffff

// button  colors
$backgroundButton1: #000000
$backgroundButton2: #ffffff

// arrow  colors
$backgroundArrow1: #ffffff
$backgroundArrow2: #e1b465
$backgroundArrow3: #000000

// typo  colors
$color1: #000000
$color2: #e9a92d
$color3: #ffffff
$color4: #919191


