.breadcrumb {

	&-list {
		padding: 0;
		margin: 40px 0;
	}

	&-item {
		display: inline-block;

		& + &::before {
			content: "/";
			padding: 0 2px;
		}

		&-active {
			color: $themeColor;
		}
	}

	&-link {
		color: inherit;
		font-size: 12px;
		line-height: 14px;
		text-decoration: unset;
	}
}
