extends components/layout


block content
  include components/archive/teaser.pug
  include components/pagination/pagination.pug
  main.archive
    .container

      h1 Archive page
      .row
        - var teasers =
        -[
        -{src: 'path', title: 'First title', content: 'Text', date: 'today'},
        -{src: 'path', title: 'First title', content: 'Text', date: 'today'},
        -{src: 'path', title: 'First title', content: 'Text', date: 'today'},
        -{src: 'path', title: 'First title', content: 'Text', date: 'today'},
        -{src: 'path', title: 'First title', content: 'Text', date: 'today'},
        -{src: 'path', title: 'First title', content: 'Text', date: 'today'}
        -];
        each teaser in teasers
          +teaser(teaser)
      - var pages = [1,2,3,4,5,6]
      +pagination(pages)
