extends components/layout


block content

  include components/teaser/teaser.pug
  include components/breadcrumbs/breadcrumbs.pug
  include components/pagination/pagination.pug

  main.archive
    .container
      +breadcrumbs("Brie Restaurant", "Blog" , "Post" )
      h1 Posts
      .row
        .col-lg-9
          - var teasers =
          -[
          -{id: 'article_1', title: 'First title', content: 'История успеха. Для того чтобы закончить тему необходимо всего лишь...', date: 'today', tags: 'lol'},
          -{id: 'article_2', title: 'Second title', content: 'История успеха. Для того чтобы закончить тему необходимо всего лишь...', date: 'today', tags: 'lol'},
          -{id: 'article_3', title: 'Third title', content: 'История успеха. Для того чтобы закончить тему необходимо всего лишь...', date: 'today', tags: 'lol'},
          -{id: 'article_4', title: 'Fourth title', content: 'История успеха. Для того чтобы закончить тему необходимо всего лишь...', date: 'today', tags: 'lol'},
          -{id: 'article_5', title: 'Fifth title', content: 'История успеха. Для того чтобы закончить тему необходимо всего лишь...', date: 'today', tags: 'lol'},
          -{id: 'article_6', title: 'Sixth title', content: 'История успеха. Для того чтобы закончить тему необходимо всего лишь...', date: 'today', tags: 'lol'}
          -];
          .row
            each teaser in teasers
              .col-lg-4
                +teaser(teaser)
        .col-lg-3
          include components/sidebar/sidebar.pug
      - var pages = [1,2,3,4,5,6]
      +pagination(pages)
