//- extends components/layout

block content
    main.home
        //- include templates/home/home_slider-top/home_slider-top
        //- include templates/home/home_new/home_new
        //- include templates/home/home_catalog/home_catalog
        //- include templates/home/home_informative-text/home_informative-text
        //- include templates/home/home_advantage/home_advantage                
        //- include templates/home/home_callback/home_callback